<div class="login-page">
  <div class="form">
    <form #loginForm="ngForm" (ngSubmit)="login(email.value, password.value)">
      <div class="form-group">
        <input #email name='email' type="text" class="form-control" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input #password name='password' type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
        <p class="message">Not registered? 
          <a href="register">Create an account</a>
        </p>
    </form>
  </div>
</div>