<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Tomašević</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Slike</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">O nama</a>
      </li>
      <div class="dropdown open">
        <button class="btn btn-danger dropdown-toggle" style="background-color: #e8b7bc" type="button" id="triggerId" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          TESTOVI
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
          <a class="dropdown-item" href="#"> Test SVE </a>
          <a class="dropdown-item" href="#"> Test oblast1 </a>
          <a class="dropdown-item" href="#"> Test oblast2 </a>
          <a class="dropdown-item" href="#"> Test oblast3 </a>
          <a class="dropdown-item" href="#"> Test oblast4 </a>
          <a class="dropdown-item" href="#"> Znakovi </a>
        </div>
      </div>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item" >
        <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"> Logout </a>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>